version: "3.8"
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: news_db
    ports: ["3306:3306"]
    volumes:
      - mysql-data:/var/lib/mysql

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  app:
    build: .
    command: node src/app.js
    environment:
      - NODE_ENV=${NODE_ENV}
    ports:
      - "3000:3000"
    depends_on:
      - mysql
      - elasticsearch
      - rabbitmq
    volumes:
      - ./:/usr/src/app

  worker:
    build: .
    command: node src/worker.js
    depends_on:
      - rabbitmq
      - elasticsearch
      - mysql
    environment:
      - NODE_ENV=${NODE_ENV}
    volumes:
      - ./:/usr/src/app

volumes:
  mysql-data:
  es-data:
